.switch-container{
    width: 85vw;
}

.circle{
    background-color: rgb(224, 222, 252);
    padding: 1rem;
    border-radius: 50%;
}

.skill-item {
    width: 30%;
}

.profile-about {
    flex-basis: 60%;
    flex-shrink: 1;
}

.tools a {
    border: .1rem solid rgb(67 56 202 / var(--tw-text-opacity));
    border-radius: 10%;
    margin: 0 .25rem;
    padding: 0 .5rem;
}

.footer-container{
    height: 30vh;
}
.right{
    display: flex;
    flex-grow: .5;
    justify-content: flex-end;
    align-items: center;
}
.right a{
    margin:4rem 0 0 2rem;
}
.right a:nth-child(2){
    color:rgb(93, 197, 128);
}
.right a:nth-child(3){
    color:rgb(64, 117, 197);
}
.about-container, .skills-container, .header-container, .profile-container, .projects-container{
   width: 85vw; 
   
}